* {
  margin: 0;
  padding: 0;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar__buttons {
  display: flex;
  align-items: center;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

main {
  min-height: 70vh;
}

.footer {
  width: 100%;
  height: auto;
  padding: 16px 0;
  background-color: #3f51b5;
}

.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}

.footer__icon:hover {
  background-color: #3f51b5;
}

.footer__icon:hover i {
  color: #fff;
}

.footer__icons i {
  color: #3f51b5;
  font-size: 30px;
}

.footer__text {
  text-align: center;
  color: #fff;
}

.auth-hint {
  color: #3f51b5;
  text-align: right;
  margin-top: 10px;
  font-family: Roboto;
}

@media (max-width: 500px) {
  .container {
    max-width: 95%;
  }
}
